@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  button {
    @apply py-1 px-2 font-semibold rounded shadow-md hover:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-indigo-400 focus:ring-opacity-75;
  }
  input {
    @apply shadow-md bg-opacity-75
  }
  #scrolling-container {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
  }
  .ql-editor {
    overflow-y: scroll;
    resize: vertical;
    flex: 1;
    /* max-height: 20rem; */
    overflow-y: auto;
  }
}